body{
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    gap: 20px;
    justify-content: center;
        /* Use the align-items property to control the alignment along the cross axis*/
    align-items: center;
        /* flex-direction controls the direction of the main axis, which influences other flexbox properties*/
        /* flex-direction: column; */
    flex-wrap: wrap;
    align-content: center;
}

.box{
    height: 200px;
    width: 200px;
    background-color: #0071FF;
    font-size: 40pt;
}