/* -- Base Font Size of the document to selected pixels */
html {
    font-size: 22px
}

/* Color of the Body */
body {
    background-color: #333;
    color: whitesmoke;   
}

/* Color of the Anchor Tag */
a { 
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active {
    color: #eee;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}


/* Questions */
/* 1. What is the difference between 0.5rem and 10px? */